[Unit]
Description=YiiMP Stratum Lyra2v2
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/stratum /etc/yiimp/stratum/lyra2v2.conf
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
